In [1]:
import pandas as pd
import numpy as np

In [2]:
QB_stats = pd.read_csv("QBStats_all.csv")
QB_stats

,qb,att,cmp,yds,ypa,td,int,lg,sack,loss,rate,game_points,home_away,year
0,Boomer EsiasonB. Esiason,38,25,237.0,6.2,0,0,20,2.0,11.0,82.9,13,away,1996
1,Jim HarbaughJ. Harbaugh,25,16,196.0,7.8,2,1,35t,0.0,0.0,98.1,20,home,1996
2,Paul JustinP. Justin,8,5,53.0,6.6,0,0,30,1.0,11.0,81.8,20,home,1996
3,Jeff GeorgeJ. George,35,16,215.0,6.1,0,0,55,7.0,53.0,65.8,6,away,1996
4,Kerry CollinsK. Collins,31,17,198.0,6.4,2,0,30,4.0,12.0,95.9,29,home,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13183,Alex SmithA. Smith,28,21,264.0,9.4,2,1,42,1.0,2.0,112.8,37,away,2016
13184,Philip RiversP. Rivers,38,22,269.0,7.1,2,2,23,0.0,0.0,75.4,27,home,2016
13185,Russell WilsonR. Wilson,32,19,258.0,8.1,1,0,42,1.0,6.0,95.6,25,away,2016
13186,Trevone BoykinT. Boykin,6,4,42.0,7.0,0,0,19,1.0,5.0,86.8,25,away,2016
13187,Colin KaepernickC. Kaepernick,22,17,215.0,9.8,1,0,29,5.0,24.0,122.3,23,home,2016

In [3]:
year1996 = QB_stats[QB_stats['year'] == 1996]
year1997 = QB_stats[QB_stats['year'] == 1997]
year1998 = QB_stats[QB_stats['year'] == 1998]
year1999 = QB_stats[QB_stats['year'] == 1999]
year2000 = QB_stats[QB_stats['year'] == 2000]
year2001 = QB_stats[QB_stats['year'] == 2001]
year2002 = QB_stats[QB_stats['year'] == 2002]
year2003 = QB_stats[QB_stats['year'] == 2003]
year2004 = QB_stats[QB_stats['year'] == 2004]
year2005 = QB_stats[QB_stats['year'] == 2005]
year2006 = QB_stats[QB_stats['year'] == 2006]
year2007 = QB_stats[QB_stats['year'] == 2007]
year2008 = QB_stats[QB_stats['year'] == 2008]
year2009 = QB_stats[QB_stats['year'] == 2009]
year2010 = QB_stats[QB_stats['year'] == 2010]
year2011 = QB_stats[QB_stats['year'] == 2011]
year2012 = QB_stats[QB_stats['year'] == 2012]
year2013 = QB_stats[QB_stats['year'] == 2013]
year2014 = QB_stats[QB_stats['year'] == 2014]
year2015 = QB_stats[QB_stats['year'] == 2015]
year2016 = QB_stats[QB_stats['year'] == 2016]

In [4]:
avg_qb = {}

# 1996

In [5]:
avg_qb[1996] = {'att': np.mean(year1996['att']), 'cmp': np.mean(year1996['cmp']), 
                'yds': np.mean(year1996['yds']), 'ypa': np.mean(year1996['ypa']), 
                'td': np.mean(year1996['td']), 'int': np.mean(year1996['int']),
                'sack': np.mean(year1996['sack']), 'rate': np.mean(year1996['rate'])}

# 1997

In [6]:
avg_qb[1997] = {'att': np.mean(year1997['att']), 'cmp': np.mean(year1997['cmp']), 
                'yds': np.mean(year1997['yds']), 'ypa': np.mean(year1997['ypa']), 
                'td': np.mean(year1997['td']), 'int': np.mean(year1997['int']),
                'sack': np.mean(year1997['sack']), 'rate': np.mean(year1997['rate'])}

# 1998

In [7]:
avg_qb[1998] = {'att': np.mean(year1998['att']), 'cmp': np.mean(year1998['cmp']), 
                'yds': np.mean(year1998['yds']), 'ypa': np.mean(year1998['ypa']), 
                'td': np.mean(year1998['td']), 'int': np.mean(year1998['int']),
                'sack': np.mean(year1998['sack']), 'rate': np.mean(year1998['rate'])}

# 1999

In [8]:
avg_qb[1999] = {'att': np.mean(year1999['att']), 'cmp': np.mean(year1999['cmp']), 
                'yds': np.mean(year1999['yds']), 'ypa': np.mean(year1999['ypa']), 
                'td': np.mean(year1999['td']), 'int': np.mean(year1999['int']),
                'sack': np.mean(year1999['sack']), 'rate': np.mean(year1999['rate'])}

# 2000

In [9]:
avg_qb[2000] = {'att': np.mean(year2000['att']), 'cmp': np.mean(year2000['cmp']), 
                'yds': np.mean(year2000['yds']), 'ypa': np.mean(year2000['ypa']), 
                'td': np.mean(year2000['td']), 'int': np.mean(year2000['int']),
                'sack': np.mean(year2000['sack']), 'rate': np.mean(year2000['rate'])}

# 2001

In [10]:
avg_qb[2001] = {'att': np.mean(year2001['att']), 'cmp': np.mean(year2001['cmp']), 
                'yds': np.mean(year2001['yds']), 'ypa': np.mean(year2001['ypa']), 
                'td': np.mean(year2001['td']), 'int': np.mean(year2001['int']),
                'sack': np.mean(year2001['sack']), 'rate': np.mean(year2001['rate'])}

# 2002

In [11]:
avg_qb[2002] = {'att': np.mean(year2002['att']), 'cmp': np.mean(year2002['cmp']), 
                'yds': np.mean(year2002['yds']), 'ypa': np.mean(year2002['ypa']), 
                'td': np.mean(year2002['td']), 'int': np.mean(year2002['int']),
                'sack': np.mean(year2002['sack']), 'rate': np.mean(year2002['rate'])}

# 2003

In [12]:
avg_qb[2003] = {'att': np.mean(year2003['att']), 'cmp': np.mean(year2003['cmp']), 
                'yds': np.mean(year2003['yds']), 'ypa': np.mean(year2003['ypa']), 
                'td': np.mean(year2003['td']), 'int': np.mean(year2003['int']),
                'sack': np.mean(year2003['sack']), 'rate': np.mean(year2003['rate'])}

# 2004

In [13]:
avg_qb[2004] = {'att': np.mean(year2004['att']), 'cmp': np.mean(year2004['cmp']), 
                'yds': np.mean(year2004['yds']), 'ypa': np.mean(year2004['ypa']), 
                'td': np.mean(year2004['td']), 'int': np.mean(year2004['int']),
                'sack': np.mean(year2004['sack']), 'rate': np.mean(year2004['rate'])}

# 2005

In [14]:
avg_qb[2005] = {'att': np.mean(year2005['att']), 'cmp': np.mean(year2005['cmp']), 
                'yds': np.mean(year2005['yds']), 'ypa': np.mean(year2005['ypa']), 
                'td': np.mean(year2005['td']), 'int': np.mean(year2005['int']),
                'sack': np.mean(year2005['sack']), 'rate': np.mean(year2005['rate'])}

# 2006

In [15]:
avg_qb[2006] = {'att': np.mean(year2006['att']), 'cmp': np.mean(year2006['cmp']), 
                'yds': np.mean(year2006['yds']), 'ypa': np.mean(year2006['ypa']), 
                'td': np.mean(year2006['td']), 'int': np.mean(year2006['int']),
                'sack': np.mean(year2006['sack']), 'rate': np.mean(year2006['rate'])}

# 2007

In [16]:
avg_qb[2007] = {'att': np.mean(year2007['att']), 'cmp': np.mean(year2007['cmp']), 
                'yds': np.mean(year2007['yds']), 'ypa': np.mean(year2007['ypa']), 
                'td': np.mean(year2007['td']), 'int': np.mean(year2007['int']),
                'sack': np.mean(year2007['sack']), 'rate': np.mean(year2007['rate'])}

# 2008

In [17]:
avg_qb[2008] = {'att': np.mean(year2008['att']), 'cmp': np.mean(year2008['cmp']), 
                'yds': np.mean(year2008['yds']), 'ypa': np.mean(year2008['ypa']), 
                'td': np.mean(year2008['td']), 'int': np.mean(year2008['int']),
                'sack': np.mean(year2008['sack']), 'rate': np.mean(year2008['rate'])}

# 2009

In [18]:
avg_qb[2009] = {'att': np.mean(year2009['att']), 'cmp': np.mean(year2009['cmp']), 
                'yds': np.mean(year2009['yds']), 'ypa': np.mean(year2009['ypa']), 
                'td': np.mean(year2009['td']), 'int': np.mean(year2009['int']),
                'sack': np.mean(year2009['sack']), 'rate': np.mean(year2009['rate'])}

# 2010

In [19]:
avg_qb[2010] = {'att': np.mean(year2010['att']), 'cmp': np.mean(year2010['cmp']), 
                'yds': np.mean(year2010['yds']), 'ypa': np.mean(year2010['ypa']), 
                'td': np.mean(year2010['td']), 'int': np.mean(year2010['int']),
                'sack': np.mean(year2010['sack']), 'rate': np.mean(year2010['rate'])}

# 2011

In [20]:
avg_qb[2011] = {'att': np.mean(year2011['att']), 'cmp': np.mean(year2011['cmp']), 
                'yds': np.mean(year2011['yds']), 'ypa': np.mean(year2011['ypa']), 
                'td': np.mean(year2011['td']), 'int': np.mean(year2011['int']),
                'sack': np.mean(year2011['sack']), 'rate': np.mean(year2011['rate'])}

# 2012

In [21]:
avg_qb[2012] = {'att': np.mean(year2012['att']), 'cmp': np.mean(year2012['cmp']), 
                'yds': np.mean(year2012['yds']), 'ypa': np.mean(year2012['ypa']), 
                'td': np.mean(year2012['td']), 'int': np.mean(year2012['int']),
                'sack': np.mean(year2012['sack']), 'rate': np.mean(year2012['rate'])}

# 2013

In [22]:
avg_qb[2013] = {'att': np.mean(year2013['att']), 'cmp': np.mean(year2013['cmp']), 
                'yds': np.mean(year2013['yds']), 'ypa': np.mean(year2013['ypa']), 
                'td': np.mean(year2013['td']), 'int': np.mean(year2013['int']),
                'sack': np.mean(year2013['sack']), 'rate': np.mean(year2013['rate'])}

# 2014

In [23]:
avg_qb[2014] = {'att': np.mean(year2014['att']), 'cmp': np.mean(year2014['cmp']), 
                'yds': np.mean(year2014['yds']), 'ypa': np.mean(year2014['ypa']), 
                'td': np.mean(year2014['td']), 'int': np.mean(year2014['int']),
                'sack': np.mean(year2014['sack']), 'rate': np.mean(year2014['rate'])}

# 2015

In [24]:
avg_qb[2015] = {'att': np.mean(year2015['att']), 'cmp': np.mean(year2015['cmp']), 
                'yds': np.mean(year2015['yds']), 'ypa': np.mean(year2015['ypa']), 
                'td': np.mean(year2015['td']), 'int': np.mean(year2015['int']),
                'sack': np.mean(year2015['sack']), 'rate': np.mean(year2015['rate'])}

# 2016

In [25]:
avg_qb[2016] = {'att': np.mean(year2016['att']), 'cmp': np.mean(year2016['cmp']), 
                'yds': np.mean(year2016['yds']), 'ypa': np.mean(year2016['ypa']), 
                'td': np.mean(year2016['td']), 'int': np.mean(year2016['int']),
                'sack': np.mean(year2016['sack']), 'rate': np.mean(year2016['rate'])}