In [1]:
import pandas as pd
import numpy as np

In [2]:
QB_stats = pd.read_csv("QBStats_all.csv")
QB_stats

,qb,att,cmp,yds,ypa,td,int,lg,sack,loss,rate,game_points,home_away,year
0,Boomer EsiasonB. Esiason,38,25,237.0,6.2,0,0,20,2.0,11.0,82.9,13,away,1996
1,Jim HarbaughJ. Harbaugh,25,16,196.0,7.8,2,1,35t,0.0,0.0,98.1,20,home,1996
2,Paul JustinP. Justin,8,5,53.0,6.6,0,0,30,1.0,11.0,81.8,20,home,1996
3,Jeff GeorgeJ. George,35,16,215.0,6.1,0,0,55,7.0,53.0,65.8,6,away,1996
4,Kerry CollinsK. Collins,31,17,198.0,6.4,2,0,30,4.0,12.0,95.9,29,home,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13183,Alex SmithA. Smith,28,21,264.0,9.4,2,1,42,1.0,2.0,112.8,37,away,2016
13184,Philip RiversP. Rivers,38,22,269.0,7.1,2,2,23,0.0,0.0,75.4,27,home,2016
13185,Russell WilsonR. Wilson,32,19,258.0,8.1,1,0,42,1.0,6.0,95.6,25,away,2016
13186,Trevone BoykinT. Boykin,6,4,42.0,7.0,0,0,19,1.0,5.0,86.8,25,away,2016
13187,Colin KaepernickC. Kaepernick,22,17,215.0,9.8,1,0,29,5.0,24.0,122.3,23,home,2016

In [3]:
avg_qb = {}

# Year

In [4]:
year_list = []
year = 1996
while year < 2017:
    year_list.append(year)
    year += 1
    
avg_qb["year"] = year_list

# Attempts

In [5]:
attempts = []
year = 1996
while year < 2017:
    year_df = QB_stats[QB_stats['year'] == year]
    avg_att = np.mean(year_df['att'])
    attempts.append(avg_att)
    year += 1
    
avg_qb["att"] = attempts

# Completions

In [6]:
cmp = []
year = 1996
while year < 2017:
    year_df = QB_stats[QB_stats['year'] == year]
    avg_cmp = np.mean(year_df['cmp'])
    cmp.append(avg_cmp)
    year += 1
    
avg_qb["cmp"] = cmp

# Yards

In [7]:
yards = []
year = 1996
while year < 2017:
    year_df = QB_stats[QB_stats['year'] == year]
    avg_yds = np.mean(year_df['yds'])
    yards.append(avg_yds)
    year += 1
    
avg_qb["yds"] = yards

# Yards per Attempt

In [8]:
ypa = []
year = 1996
while year < 2017:
    year_df = QB_stats[QB_stats['year'] == year]
    avg_ypa = np.mean(year_df['ypa'])
    ypa.append(avg_ypa)
    year += 1
    
avg_qb["ypa"] = ypa

# Touchdowns

In [9]:
touchdowns = []
year = 1996
while year < 2017:
    year_df = QB_stats[QB_stats['year'] == year]
    avg_tds = np.mean(year_df['td'])
    touchdowns.append(avg_tds)
    year += 1
    
avg_qb["td"] = touchdowns

# Interceptions

In [10]:
interceptions = []
year = 1996
while year < 2017:
    year_df = QB_stats[QB_stats['year'] == year]
    avg_int = np.mean(year_df['int'])
    interceptions.append(avg_int)
    year += 1
    
avg_qb["int"] = interceptions

# Sacks

In [11]:
sacks = []
year = 1996
while year < 2017:
    year_df = QB_stats[QB_stats['year'] == year]
    avg_sk = np.mean(year_df['sack'])
    sacks.append(avg_sk)
    year += 1
    
avg_qb["sack"] = sacks

# Rate

In [12]:
rate = []
year = 1996
while year < 2017:
    year_df = QB_stats[QB_stats['year'] == year]
    avg_rt = np.mean(year_df['rate'])
    rate.append(avg_rt)
    year += 1
    
avg_qb["rate"] = rate

In [15]:
avg_qb_df = pd.DataFrame.from_dict(avg_qb)
avg_qb_df

,year,att,cmp,yds,ypa,td,int,sack,rate
0,1996,25.589372,14.737520,170.988728,6.593881,1.004831,0.867955,1.777778,76.064734
1,1997,25.206731,14.173077,168.730769,6.740705,0.988782,0.767628,2.006410,75.995513
2,1998,24.126168,13.654206,165.242991,6.768536,1.024922,0.792835,1.880062,76.654829
3,1999,25.824345,14.741140,174.505393,6.553775,1.024653,0.865948,1.924499,74.914176
4,2000,25.365625,14.756250,171.282813,6.820625,0.984375,0.823438,1.917188,75.990000
5,2001,26.389525,15.577741,178.991817,7.132079,1.039280,0.888707,1.945990,78.292799
6,2002,26.616692,15.873261,178.814529,6.621329,1.071097,0.809892,1.811437,78.102628
7,2003,24.610860,14.447964,163.153846,6.594419,0.974359,0.799397,1.622926,75.659427
8,2004,25.237654,15.080247,177.990741,6.776698,1.129630,0.808642,1.845679,79.322068
9,2005,25.846154,15.368917,175.386185,6.831554,1.010989,0.794349,1.855573,79.153375
10,2006,26.433871,15.800000,181.091935,6.714032,1.045161,0.838710,1.875806,78.647419
11,2007,26.453834,16.175274,181.463224,6.750235,1.118936,0.829421,1.715180,80.018936
12,2008,26.399361,16.103834,183.332268,7.032588,1.031949,0.742812,1.654952,81.843291
13,2009,25.459016,15.903130,176.599001,6.793741,1.059613,0.777943,1.683486,79.664526
14,2010,27.630400,16.785600,193.513600,6.759040,1.201600,0.817600,1.808000,81.981920
15,2011,28.355049,17.042345,204.120521,7.194137,1.213355,0.824104,1.934853,81.983062
16,2012,29.450331,17.935430,208.528146,7.144868,1.253311,0.774834,1.935430,84.692550
17,2013,30.565365,18.714771,217.704584,7.191681,1.351443,0.847199,2.190153,84.959762
18,2014,29.024351,18.181818,209.250000,7.308279,1.310065,0.730519,1.967532,87.311039
19,2015,30.908784,19.471284,224.136824,7.255912,1.422297,0.736486,2.005068,88.911149
20,2016,29.895082,18.836066,213.921311,7.086066,1.285246,0.675410,1.824590,86.853115